@font-face {
    font-family: 'MyFont';
    src: url('my-fonts/SupremeSpike-KVO8D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, transparent, #6366f1, #db2777);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MyFont', sans-serif;
    font-weight: 500;
}

main {
    width: 65rem;
    height: 37rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.404);
    position: relative;
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    display: flex;
    overflow: hidden;
}

.player--active {
    background: #ffffff3b;
}

.player {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transition: all 0.75s;
}

.player--active {
    background: #ffffff3b;
}

.player--winner {
    background: #b77aca91;
}



.playerName {
    font-size: 40px;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1em;
    margin-bottom: 5rem;
}

.playerName-active {
    display: inline-block;
    padding: 8px;
    position: relative;
}

.playerName-active:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2.5px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.playerName-active:hover:after {
    width: 100%;
    left: 0;
}

.score-styel {
    font-size: 60px;
    font-weight: 600;
    /* font-family: 'Times New Roman', Times, serif; */
    text-shadow: 1px 1px 1px #000,
        3px 3px 5px #6366f1;
    color: whitesmoke;
    margin-bottom: 8rem;
}

.current {
    background: #7f80eb;
    width: 60%;
    padding: 1.5rem;
    opacity: 0.8;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 2px 10px;
}

.current-heading {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.2rem;
    color: white;
    text-shadow: 1px 1px 1px #000;
    line-height: 1em;
    margin-bottom: 1rem;
}

.currentNumber {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    color: white;
    text-shadow: 1px 1px 1px #000;
    line-height: 1em;
}

.btn {
    position: absolute;
    border: none;
    outline: none;
    background-color: #7f80eb;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    cursor: pointer;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

#btn--new {
    top: 8%;
    right: 42%;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#btn--scroll {
    top: 70%;
    right: 43%;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#btn--hold {
    top: 80%;
    right: 45%;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.dice {
    position: absolute;
    left: 46.5%;
    top: 30%;
    width: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 5px 15px;
}


.hidden {
    display: none;
}